body{
    background-image: linear-gradient(to left,#0000f7,#00001f );
    margin: 0px;
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#Título{
    text-align: center;
    color: #000;
}
#form1{
    margin-bottom: 40px;
}
#form1 input{
    margin-top: 10px;
    margin-bottom: 15px;
}
#form2 input{
    margin-top: 10px;
    margin-bottom: 15px;
}
#form2 textarea{
    resize: none;
    overflow: auto;
    margin-top: 5px;
    
}
#form1, #form2{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    padding: 10px;
    width: 800px;
}
#formulários{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #aaa;
    border-radius:40px;
    padding: 20px;
    

}

