.area{
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 500px;

    
}
.div1{
    order: 3;
    align-self: flex-end;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    
    border: 4px solid black;
    display: flex;
    flex-direction: row;
}
.div2{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    
    border: 4px solid black;
    display: flex;
    flex-direction: row;
}
.div3{
    align-self: flex-start;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    
    border: 4px solid black;
    display: flex;
    flex-direction: row;
}