*
{
    background-color: aqua;
}
.pag02
{
    color: blueviolet;
    font-size: 30px;
}
.pag02:hover
{
    color: blue;
}
.pag2
{
    
    color: black;
    font-size: 30px;

}
pag02:hover
{
    color: blue;
    
}
