body{
    background-color: aqua;
    font-size: 20pt;
    
}
section{
    width: 500px;
}
@media(max-width:1024px){
    body{
        background-color: #00f;
        font-size: 18pt;
    }

}

@media(max-width:760px){
    body{
        background-color: brown;
        font-size: 15pt;
    }
    section{
        width: 275px;
    }
}
@media (max-width:400px){
    body{
        background: #0f0;
        font-size: 15pt;
    }
    section{
        width: 200px;
    }
}