.container{
    display: grid;
    background-color: #ccc;
    gap: 10px;
    grid-template-areas: 
        "header header header header header"
        "nav nav  content content content"
        "footer footer footer footer ad"

    ;

}
.item{
    background-color: blue;
    color: white;
    border:1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
section{
    grid-area:content ;
}
footer{
    grid-area:footer;
}
.item:last-child{
    grid-area: ad;
}
@media(max-width:750px){
    .container{
        grid-template-areas:
        "header header nav  nav"
        "content content content content"
        "ad ad ad ad"
        "footer footer footer footer"
        ;
    }
}