.container{
    background-color: #ccc;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
}
.item{
    background-color: blue;
    color: white;
    border:1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}
.item:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}
.item:nth-child(8){
    grid-column-start:2 ;
    grid-column-end:4 ;
    grid-row-start: 5;
    grid-row-end: 7;

}
