#caixa{
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: blueviolet;
    margin-top: 100px;
    box-shadow: -5px 5px 0px #d07;
}
#texto{
    text-align: center;
    margin-top: 50px;
    text-shadow:-15px -11px 2px #111;
}